<nav>
    <div class="logo-container">
        <img src="/images/logos/obaLogo.png" alt="oba logo" />
    </div>
    <p class="mobile-text-container">
        Welkom bij de Openbare Bibliotheek van Amsterdam!
        <!-- Heb je hulp nodig op deze pagina? -->
    </p>
    <div class="mobile-container">
        <img
            src="/images/character/mobile-assistent.png"
            alt="virtual assistent"
        />
    </div>
    <ul>
        <li>
            <a href="/" class="secondary-button"
                ><img
                    src="/images/icons/chat-icon.svg"
                    alt="heart icon"
                />Zoeken</a
            >
        </li>
        <li>
            <a href="/favorieten" class="secondary-button"
                ><img
                    src="/images/icons/heart.svg"
                    alt="heart icon"
                />Favorieten</a
            >
        </li>
        <li>
            <a href="#" class="secondary-button"
                ><img src="/images/icons/question.svg" alt="heart icon" />Spreek
                een medewerker</a
            >
        </li>
    </ul>
</nav>
