<nav>
    <div class="logo-container">
        <img src="/images/logos/obaLogo.png" alt="oba logo" />
    </div>

    <div class="mobile-container">
        <img
            src="/images/character/mobile-assistent.png"
            alt="virtual assistent"
        />
    </div>

    <div class="mobile-text">
        <p class="mobile-text-p">
            Welkom bij de openbare bibliotheek van Amsterdam.
        </p>
    </div>

    <div class="empty-space"></div>

    <ul>
        <li>
            <a href="/" class="secondary-button"
                ><img
                    src="/images/icons/chat-icon.svg"
                    alt="heart icon"
                />Zoeken</a
            >
        </li>
        <li>
            <a href="/favorieten" class="secondary-button"
                ><img
                    src="/images/icons/heart.svg"
                    alt="heart icon"
                />Favorieten</a
            >
        </li>
        <li>
            <a
                href="https://www.oba.nl/service/contact/chatmetdeoba.html"
                class="secondary-button"
                ><img src="/images/icons/question.svg" alt="heart icon" />Spreek
                een medewerker</a
            >
        </li>
    </ul>
</nav>
