// src: https://codepen.io/jeryj/pen/LzPjdJ

@keyframes jump {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.02);
    }
}

.jumping {
    animation: 0.4s jump ease infinite alternate;
}

.mobile-text-container {
    display: none;
}

@media (max-width: 1000px) {
    // container that's only visible on mobile screen
    .mobile-text-container {
        display: block;
        color: white;
        padding: 10px 20px;
        background: #fd2f7f;
        max-width: 90%;

        align-self: center;
        margin: 0 10px;
        width: max-content;
        border-radius: 20px 0 20px 20px;
        // p within the div
        p {
        }
    }
}
