// desktop assistent animation
.animation {
    position: fixed;
    right: 10px;
    bottom: 80px;

    img {
        width: 300px;
    }
}

// mobile
@media (max-width: 1000px) {
    // hide desktop animation on mobile
    .animation {
        display: none;
    }
}
