.detail-pagina {
    display: flex;
    justify-content: center;
    gap: 84px;
    margin-top: 20px;
    max-width: 40em;
    margin: 20px auto 0 auto;
    padding-bottom: 100px;

    // container with the image on the left
    .left-cover {
        display: flex;
        flex-direction: column;
        gap: 20px;

        img {
            width: 180px;
            height: 285px;
            object-fit: cover;
            box-shadow: var(--shadow);
        }

        .secondary-button {
            flex-grow: 0;
            width: max-content;
        }

        .action-buttons {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
            font-size: 1em;

            button {
                border: none;
                background: none;
                cursor: pointer;

                img {
                    margin-top: 10px;
                    width: 40px;
                    height: auto;
                    border-radius: 20px;
                    &:hover {
                        transform: translateY(-5px);
                    }
                }
            }
        }
    }

    // right container with all the data
    .right-cover {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 58px;

        h3 {
            padding-bottom: 10px;
        }
    }

    // oba website button & where is it
    .button-container {
        display: flex;
        gap: 20px;
    }
}

#modal {
    background-color: #fff;
    padding: 20px;
    max-width: 400px; /* Adjust the width as needed */
    text-align: center;
    margin: auto auto;
    border: none;
    border-radius: 20px;

    // position: fixed;

    // top: 0;
    // left: 0;
    // right: 0;
    // background-color: rgba(218, 218, 218, 0.8);
    // text-align: center;
    // // overflow-y: auto;
    // padding: 7em 0 7em 0;

    // border: none;

    img {
        max-width: 90%;
        height: auto;
    }

    button {
        margin: 20px auto 0 auto;
        padding: 0 30px;
    }

    #modal::backdrop {
        background-color: rgba(190, 13, 13, 0.8);
        filter: blur(20px);
    }
}

@media (max-width: 748px) {
    // detail page
    .detail-pagina {
        flex-direction: column;
        margin: 20px 20px 0 20px;
        gap: 48px;

        // left cover, without the back button (img and buttons)
        .left-image-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        // title, summary, themes
        .right-cover {
            margin: 0px auto 0 auto;
            max-width: 30em;

            .button-container {
                padding: 20px 0 40px 0;
            }
        }
    }
}
