@import url('./buttons.css');
@import url('./nav.css');

// variable colors
:root {
    --bg: #f9f9f9;
    --headings: #3c389e;
    --secondary: #00000083;

    // other
    --shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
    --radius: 5px;
    --mobile-nav-bg: #ffffff;
    --mobile-shadow: 0 0 10px rgba(0, 0, 0, 0.247);

    // primary button
    --primary-bg: #3c389e;
    --primary-text: #ffffff;

    // secondary button
    --secondary-bg: #ffffff;
    --secondary-text: #292929;

    // hover button
    --hover-bg: #242174;
    --hover-text: #ffffff;
}

// reset standard styling
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// to scroll smooth
body {
    scroll-behavior: smooth;
    background-color: var(--bg);
    font-family: 'Inter', sans-serif;
}

.animation {
    img {
        width: 100px;
    }
}

// to remove/add elements
.hidden {
    display: none;
}
