@import url('./buttons.css');
@import url('./nav.css');
@import url('./chatbar.css');
@import url('./results.css');
@import url('./assistent.css');
@import url('./details.css');
@import url('./animation.css');
@import url('./headings.css');
@import url('./assistent.css');
@import url('./favorite.css');

// variable colors
:root {
    --bg: #f9f9f9;
    --headings: #3c389e;
    --secondary: #00000083;

    // other
    --shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
    --radius: 5px;
    --mobile-nav-bg: #ffffff;
    --mobile-shadow: 0 0 10px rgba(0, 0, 0, 0.247);
    --mobile-hover-text: #fe3080;

    // primary button
    --primary-bg: #3c389e;
    --primary-text: #ffffff;

    // secondary button
    --secondary-bg: #ffffff;
    --secondary-text: #292929;

    // hover button
    --hover-bg: #242174;
    --hover-text: #ffffff;
}

// reset standard styling
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// to scroll smooth
body {
    scroll-behavior: smooth;
    background-color: var(--bg);
    font-family: 'Inter', sans-serif;
}

// to remove/add elements
.hidden {
    display: none !important;
}

// hide mobile stuff on desktop
.mobile {
    display: none;
}

// mobile
@media (max-width: 1150px) {
    // hide desktop stuff on mobile
    .desktop {
        display: none;
    }

    // show mobile stuff on mobile
    .mobile {
        display: block !important;
    }

    // to remove/add elements
    .hidden {
        display: none !important;
    }
}
