<!DOCTYPE html>
<html lang="nl">
    <head>
        <%- include("../partials/head");%>
        <title>OBA Catalogus</title>
    </head>

    <body>
        <%- include("../partials/nav");%>
        <h1 class="favorite-heading">Favorieten</h1>
        <!-- post method, to send the query to the api > get, part of url as queryparam > post, part of body (don't see it in url) -->

        <div id="parent_results">
            <!-- id results for styling -->
            <div id="results">
                <div id="results-insert-html"></div>
            </div>
        </div>
        <script>
            const resultsContainer = document.getElementById(
                'results-insert-html'
            );
            // get favorites from localStorage
            const favorites = localStorage.getItem('favorites');

            // if there are favorites
            if (favorites) {
                let html = '';
                // turn favorites into an array
                const parsedFavorites = JSON.parse(favorites);
                // for every favorite that's parsed:
                for (const favorite of parsedFavorites) {
                    // for every item, add another string with the below html:
                    html += `<div>
  <a href="/details/${favorite.id}">
    <div class="resultContainer">
      <div class="imageContainer"><img
        src="${
            Array.isArray(favorite.coverimages)
                ? favorite.coverimages[favorite.coverimages.length - 1]
                : '/images/fallback/thumbnail.png'
        }">
      </div>
      <div class="detailContainer">
        <h3>${favorite.titles[0]}</h3>
        <p>${
            Array.isArray(favorite.authors) && favorite.authors.length > 0
                ? favorite.authors.join(', ')
                : ''
        }</p>
      </div>
    </div>
  </a>
</div>`;
                }
                resultsContainer.innerHTML = html;
            }
        </script>
    </body>
</html>
