<!DOCTYPE html>
<html lang="nl">
    <head>
        <%- include("../partials/head");%>
        <title>OBA Catalogus</title>
    </head>

    <body class="indexBody">
        <%- include("../partials/nav");%>
        <h1 class="index-h1">Wat zoek je in de bieb?</h1>
        <!-- post method, to send the query to the api > get, part of url as queryparam > post, part of body (don't see it in url) -->

        <!-- animation image -->
        <div class="animation">
            <img
                src="/images/character/animation/frame1.png"
                alt="circle for animation"
            />
        </div>

        <!-- results, check renderResult for elements -->
        <div id="parent_results">
            <div id="results">
                <!-- <h2>Hello</h2> -->
            </div>
        </div>

        <!-- chat bar -->
        <div class="chatbar">
            <div class="jumping">
                <input
                    list="faq"
                    type="text"
                    name="query"
                    placeholder="Wat zoek je in de bieb?"
                    id="query"
                    autocomplete="off"
                />

                <datalist id="faq">
                    <option value="Chocolate"></option>
                    <option value="Coconut"></option>
                    <option value="Mint"></option>
                    <option value="Strawberry"></option>
                    <option value="Vanilla"></option>
                </datalist>

                <button type="submit" id="searchButton" class="primary-button">
                    Zoek
                </button>
            </div>
        </div>
    </body>
</html>
