<!DOCTYPE html>
<html lang="nl">
    <head>
        <%- include("../partials/head");%>
        <title>OBA Catalogus</title>
    </head>

    <body class="indexBody">
        <%- include("../partials/nav");%>
        <h1 class="index-h1">Zoek in de Bieb van Amsterdam</h1>
        <!-- post method, to send the query to the api > get, part of url as queryparam > post, part of body (don't see it in url) -->

        <!-- animation image -->
        <div class="animation">
            <img
                src="/images/character/animation/frame1.png"
                alt="circle for animation"
            />
        </div>

        <!-- lottie animation -->
        <!-- library animation -->
        <lottie-player
            src="/animations/hJnp20RtwJ.json"
            background="transparent"
            speed="1"
            class="lottie-library"
            style="width: 50em; height: auto"
            loop
            autoplay
            direction="1"
            mode="normal"
        ></lottie-player>

        <!-- results, check renderResult for elements -->
        <div id="parent_results">
            <div id="results">
                <!-- <h2>Hello</h2> -->
            </div>
        </div>

        <!-- chat bar -->
        <div class="chatbar">
            <!-- cursor animation: desktop -->
            <lottie-player
                class="desktop lottie-input-cursor"
                src="/animations/arrow.json"
                background="transparent"
                speed="1"
                style="width: 100px; height: auto"
                loop
                autoplay
                direction="1"
                mode="normal"
            ></lottie-player>

            <!-- hand animtion: mobile -->
            <lottie-player
                class="mobile lottie-input-hand"
                src="/animations/clickhand.json"
                background="transparent"
                speed="1"
                style="width: 100px; height: auto"
                loop
                autoplay
                direction="1"
                mode="normal"
            ></lottie-player>

            <div class="jumping">
                <input
                    list="faq"
                    type="text"
                    name="query"
                    placeholder="Wat zoek je in de bieb?"
                    id="query"
                    autocomplete="off"
                />

                <!-- most requently looked for tags -->
                <datalist id="faq">
                    <option value="Kinderboeken"></option>
                    <option value="Dieren"></option>
                    <option value="Cursus"></option>
                    <option value="Kunst"></option>
                    <option value="Vincent van Gogh"></option>
                </datalist>

                <button type="submit" id="searchButton" class="primary-button">
                    Zoek
                </button>
            </div>
        </div>
    </body>
</html>
